<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">{{titles.TitlesEnum.eventMap}}</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input id="username" formControlName="username" type="text" class="form-control" placeholder="Enter your username" />
                            @if (!loginForm.controls['username'].valid && loginForm.controls['username'].touched) {
                                <div class="text-danger">
                                    Username is required.
                                </div>
                            }
                        </div>

                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input id="password" formControlName="password" type="password" class="form-control" placeholder="Enter your password" />
                            @if (!loginForm.controls['password'].valid && loginForm.controls['password'].touched) {
                                <div class="text-danger">
                                    Password is required and must be at least 6 characters.
                                </div>
                            }
                        </div>

                        <div class="button-group">
                            <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
                            <button type="button" class="btn btn-danger w-100" (click)="toResetPasswordPage()">Forget password?</button>
                            <button type="button" class="btn btn-info w-100" (click)="toNewRegistrationPage()">New registration</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
