<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>{{titles.TitlesEnum.resetPassword}}</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input
                                type="email"
                                id="email"
                                class="form-control"
                                formControlName="email"
                                placeholder="Enter your email"
                            />
                            @if (resetForm.controls['email'].invalid && resetForm.controls['email'].touched) {
                                <div class="text-danger">
                                    {{HtmlMessagesEnum.requireEmail}}
                                </div>
                            }
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="resetForm.invalid">
                            Send Reset Link
                        </button>
                    </form>
                </div>
                @if (message) {
                    <div class="card-footer text-success text-center">
                    {{ message }}
                    </div>
                }
            </div>
        </div>
    </div>
</div>
