<div class="container">
    <div class="dropdown country-selector">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Select country
        </button>
        <ul class="dropdown-menu">
            @for (country of countryList; track country.id) {
            <li class="dropdown-item" (click)="zoomToCountry(country)">{{country.name}}</li>
            }
        </ul>
    </div>
    <div class="dropdown personal-account">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            User
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" (click)="toMyEventsPage()">My Events</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
    </div>
    <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>
