.container {
    display: flex;
    justify-content: center;
}

.country-selector {
    position: absolute;
    top: 100px;
    z-index: 10;
}

.personal-account {
    position: absolute;
    top: 100px;
    right: 60px;
    z-index: 100;
}

.dropdown-item:hover {
    cursor: pointer;
}

.map-container {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    z-index: 1;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}
